/*------------ GENERALS -------------*/
* {
  margin: 5px;
  padding: 5px;
  font-family: "Trebuchet MS", Times, serif;
}

ul {
	list-style-type: none;
}

.clear
{
	clear: both;
}

/* ----------- LAYOUT-----------------*/

.flex-container {
  display: flex;
	justify-content: space-around;
}

body {
  background-color: #142639;
  width: 100%;
}

div {
	display: flex;
	flex-direction: column;
	justify-content: center;
}


/*------------ ASIDE -------------*/

aside {
	background-color: #253B56;
	width: 30%;
	margin-right: : 3%;

}

aside * {
	color: white;
}

aside h2 {
	letter-spacing: 5px;
}

aside section h2:first-child{	/*:nth-child(#)*/
	border-bottom: 2px solid white;
}

#profile-pic img{
	border-radius: 50%;
	width: 150px;
}

h1,
h2{
		text-transform: uppercase;
}


/*------------ MAIN -------------*/


main section > h2{ /* Hijos directos de los section*/
	text-transform: uppercase;
	letter-spacing: 5px;
}

.hero {
		background-color: #C6AFA7;
		box-shadow: 3px 3px 30px 5px #2D64CE inset;
		padding: 15% 0; /*arrriba derecha abajo*/
		text-align: center;
}

.hero h2{
	color: white;
	border-top: 2px solid white;
	letter-spacing: 10px;
}

.about-me {
	background-color: #FFA042;
}

.about-me h2{
	background-color: white;
}

.about-me p{
	line-height: 2.em;
	background-color: #FFA042;
	padding: 5px;
}

article h3,
article h4{
	font-weight: bold;
}

article ul{
	list-style-type: square;
}

.references {
	display: flex;
	flex-wrap: wrap;
	background-color: #FFA042;
}

.references article
{
	width: 50%;
}

/*------------------ DL----------------*/

dt,
dd{
	line-height: 1.5em;
	border-top: 1px solid white;
}


dd:last-of-type,
dt:last-of-type{
	border-bottom: 1px solid white;
}

dl{
	display: flex;
	flex-wrap: wrap;
}

dt,
dd{
	flex-basis: 40%;
	margin: 0;
}


#reference-icon img {
  width: 50px;
}

/*----meter------*/
meter{
	display: block;
	width: 80%;
}
